// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments{
	&_list{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		.comments_item{
			width: 100%;
			border-bottom: 1px solid #e8e8e8;
			.comments_header{
				padding:10px;
				display: flex;
				align-items: center;
				&-user{
					margin-right: 5px;
					img{
						border-radius: 5px;
					}
				}
				&-date{
					flex-grow: 1;
					text-align: right;
				}
			}
			.comments_body{
				padding:10px;
			}
			.comments_destroy-btn{
				padding:10px;
				text-align: right;
			}
		}
		&-nothing{
			padding:10px;
		}
	}
	&_form{
		padding:10px;
		margin-bottom: 20px;
		border:1px solid #e8e8e8;
		&-footer{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			&-user{
				display: flex;
				align-items: center;
				flex-grow: 1;
				img{
					border-radius: 5px;
				}
				p{
					margin-bottom: 0;
					margin-left: 5px;
				}
			}
		}
	}
}