// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments{
	&__list{
		td:first-child{
			text-align: center;
		}
		td{
			min-width: 70px;
			word-wrap:break-word;
	    overflow-wrap:anywhere;
		}
	}
}