// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
	&_main-visual{
		color:white;
		text-shadow:
       1px  1px 0px #000,
      -1px  1px 0px #000,
       1px -1px 0px #000,
      -1px -1px 0px #000,
       1px  0px 0px #000,
       0px  1px 0px #000,
      -1px  0px 0px #000,
       0px -1px 0px #000;
		background-image: image-url("memohouse.jpg");
		background-size: cover;
    min-height: 430px;
    margin-bottom: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_about{
		.img{
			height:140px;
			width:140px;
			border-radius: 50%;
			overflow: hidden;
			background-size: cover;
			margin:5px auto;
			&.img-1{
				background-image: image-url("doors.jpg");
			}
			&.img-2{
				background-image: image-url("study.jpg")
			}
			&.img-3{
				background-image: image-url("group.jpg")
			}
		}
		h2{
			text-align: center;
		}
	}
}