// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.houses{
	margin-bottom: 20px;
	&_list{
		margin-bottom: 10px;
		border:1px solid #e8e8e8;
		border-top: 0;
	}
}