.list_title{
	background-color: #e8e8e8;
	padding: 10px;
	h4{
		display: inline-block;
		margin-bottom: 0;
	}
	span.badge{
		font-size: 1.1rem;
	}
}
.list{
	border:1px solid #e8e8e8;
	border-top: 0;
	&_item{
		display:flex;
		padding: 16px;
		border-top:1px solid #e8e8e8;
		p{
			margin: 0;
		}
		img{
			border-radius: 4px;
		}
		.item_body{
			display: flex;
			flex-wrap:wrap;
			flex-grow:1;
			margin-left: 2px;
			&-header{
				display: flex;
				width: 100%;
				font-size: 1.1rem;
				font-weight: bold;
				margin-bottom: 4px;
				line-height: 1.4;
				justify-content: space-between;
				align-items: center;
				.item_body-name{
					flex-grow:1;
				}
			}
			&-title{
				display: inline-block;
				width:100%;
				font-size: 1.1rem;
				font-weight: bold;
				margin-bottom: 4px;
				color: inherit;
				line-height: 1.4;
				word-wrap: break-word;
				word-break: break-all;
			}
			.tag{
				color:#666;
				font-size: 0.8rem;
				i{
					margin-right: 4px;
					color: #aaa;
				}
				a:not(:last-child)::after{
					content: ",";
					margin-right: 4px;
				}
				span:not(:last-child)::after{
					content: ",";
					margin-right: 4px;
				}
			}
			.meta{
				display: flex;
				align-items: center;
				p{
					margin-right: 10px;
					font-size: 0.9rem;
					color:#666;
				}
			}
			.info{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				p{
					font-size: 0.9rem;
					color:#666;
				}
			}
		}
	}
	div:first-child{
		border-top: 0;
	}
	&_nothing{
		padding:16px;
	}
}