// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.memos{
	margin-bottom: 20px;
	.btn-toolbar{
		margin:10px 0;
	}
	// show
	&_title{
		margin:10px 5px;
		span.badge{
			font-size: 1rem;
		}
	}
	&_body{
		margin-top: 20px;
	}
	&_image{
		text-align: center;
	}
}
