// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags{
	margin-bottom: 20px;
	&.badge{
		a{
			color:white;
			font-weight: normal;
		}
	}
	&_list{
		display: flex;
		flex-wrap:wrap;
		padding:15px;
		border:1px solid #e8e8e8;
		border-top: 0;
		&-item{
			margin-right:10px;
			margin-bottom:10px;
		}
		.nothing{
			padding: 15px;
		}
	}
	&.index{
		.badge{
			font-size: 1rem;
		}
	}
	.index_link{
		padding:10px;
		border:1px solid #e8e8e8;
		border-top: 0;
	}
}
